alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
docutils==0.14
idna==2.8
imagesize==1.1.0
inflection==0.3.1
influxdb==5.2.2
javaproperties==0.5.1
Jinja2>=2.10.1
jsonschema==3.0.1
kafka-python==1.4.6
MarkupSafe==1.1.1
more-itertools==5.0.0
mysql-connector-python==8.0.20
mysqlclient==1.4.6
ordered-set==3.1
packaging==19.0
pbr==5.1.3
pluggy==0.8.1
protobuf==3.9.0
psycopg2==2.8.3
py==1.7.0
pycryptodome==3.7.2
Pygments==2.3.1
PyLaTeX==1.3.0
pymongo==3.7.2
pyparsing==2.3.1
pyrsistent==0.15.1
pytest==4.1.1
pytest-mock==1.10.0
python-anodot==2.0.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinx-click==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.17
tabulate==0.8.5
texttable==1.6.0
urllib3==1.24.2
pytest-xdist==1.27
flask==1.1.2
Flask-WTF==0.14
werkzeug==0.16.1
result==0.5.0
wtforms-json==0.3.3
alembic==1.4.2
regex==2020.11.13
inject==4.3.1
git+https://github.com/anodot/sdc-client
